@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --primary: 221.2 83.2% 53.3%;
        --primary-hover: 217.2 91.2% 59.8%;
        --destructive: 0 84.2% 60.2%;
    }
}

body {
    @apply antialiased bg-gray-50;
}
